.wrapper {
	width: 100%;

	.content {
		width: 100%;
		max-width: 1000px;
		box-sizing: border-box;
		padding: 30px 20px;
		margin: 0 auto;

		blockquote {
			margin-bottom: 5px;

			p {
				background: #5fa512;
				padding: 5px 10px;
				box-sizing: border-box;
				color: #fff;
				border-radius: 5px;
				font-weight: 200;
			}
		}

		a {
			background: #b0cb1e;
			padding: 3px 10px;
			border-radius: 5px;
			text-decoration: none;
			color: #ffffff;
			font-weight: 300;
			margin: 0 5px;
			text-shadow: 1px 1px 3px #333;
			letter-spacing: 0px;
		}

		p {
			font-weight: 300;
			margin: 10px 0;
		}

		h1 {
			font-weight: 900;
			font-size: 28px;
			border-bottom: 2px solid #e0e32c;
			width: fit-content;
		}

		hr {
			margin: 15px 0;
		}

		ol,
		ul {
			padding: 10px 20px;
			box-sizing: border-box;
		}

		h2,
		h3 {
			margin-bottom: 5px;
			background: #fbc019;
			box-sizing: border-box;
			padding: 5px 10px;
			color: #3f3f3f;
			border-radius: 5px;
			font-weight: 200;
		}

		pre {
			background: #222;
			border-radius: 10px;
			box-sizing: border-box;
			padding: 15px;

			code {
				color: #7db338;
				font-weight: 300;
				letter-spacing: 1px;
			}
		}
	}
}
